<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.ST402E0FB6730A4F7CBF60F00487E76967
.cbSearchButtonContainer {
    background: #f3f9fb;
    padding: 15px 15px 30px 15px;
    text-align: center;
    vertical-align: middle;
}</style>
<!-- end Simple Custom CSS and JS -->
